@font-face {
  font-family: "lt_museummedium";
  src:
    url("./fonts/museum-font/ltmuseum-medium-webfont.woff2") format("woff2"),
    url("./fonts/museum-font/ltmuseum-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root,
body,
.container {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  font-family: "lt_museummedium", "Times New Roman", Times, serif;
}

.home.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: rgb(44, 142, 254);
}

.home.title {
  font-size: 3rem;
  color: white;
  box-sizing: border-box;
  text-shadow: 8px 14px 15px rgb(0, 0, 0, 0.25);
  font-weight: 700;
}

.search.input {
  width: auto;
  height: auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.416);
  font-family: inherit;
  border: 2px solid rgb(42, 42, 42);
}

.search.input[placeholder] {
  font-size: 2rem;
  color: rgb(211, 211, 211);
  box-shadow: -6px 8px rgb(0, 0, 0, 0.15);
}

.search.input:focus::placeholder {
  color: rgb(154, 154, 154);
}

.search.input::placeholder {
  color: rgb(59, 59, 59);
}

.search.input:focus {
  border: 3px solid rgba(0, 0, 0, 0.204);
  background-color: rgb(251, 255, 179);
  color: rgb(62, 62, 62);
}

.search.input:focus:hover {
  background-color: rgb(249, 255, 139);
}

.search.input:hover {
  background-color: rgba(0, 0, 0, 0.322);
  transform: translateY(5px);
}

.search.box {
  display: flex;
  gap: 1rem;
  box-sizing: border-box;
}

.search.button {
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  box-shadow: 6px 8px rgb(0, 0, 0, 0.15);
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.428);
  color: white;
  border: 1px solid white;
}

.search.button:hover {
  transform: translateY(5px);
  background-color: rgb(164, 249, 255);
  color: rgb(47, 47, 47);
  border: 4px solid rgba(0, 0, 0, 0.255);
}
