@font-face {
  font-family: "lt_museummedium";
  src:
    url("./fonts/museum-font/ltmuseum-medium-webfont.woff2") format("woff2"),
    url("./fonts/museum-font/ltmuseum-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root,
body,
.container {
  margin: 0px;
  padding: 0px;
  font-family: "lt_museummedium", "Times New Roman", Times, serif;
  width: 100vw;
  height: 100vh;
}

.home.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: rgb(44, 142, 254);
}

.home.title {
  font-size: 3rem;
  color: white;
  text-shadow: 8px 14px 15px rgb(0, 0, 0, 0.25);
  font-weight: 700;
}

.search.input {
  width: auto;
  height: auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.416);
  font-family: inherit;
  border: 2px solid rgb(42, 42, 42);
}

.search.input[placeholder] {
  font-size: 2rem;
  color: rgb(211, 211, 211);
  box-shadow: -6px 8px rgb(0, 0, 0, 0.15);
}

.search.input:focus::placeholder {
  color: rgb(154, 154, 154);
}

.search.input::placeholder {
  color: rgb(59, 59, 59);
}

.search.input:focus {
  border: 3px solid rgba(0, 0, 0, 0.204);
  background-color: rgb(251, 255, 179);
  color: rgb(62, 62, 62);
}

.search.input:focus:hover {
  background-color: rgb(249, 255, 139);
}

.search.input:hover {
  background-color: rgba(0, 0, 0, 0.322);
  transform: translateY(5px);
}

.search.box {
  display: flex;
  gap: 1rem;
}

.search.button {
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  box-shadow: 6px 8px rgb(0, 0, 0, 0.15);
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.428);
  color: white;
  border: 1px solid white;
}

.search.button:hover {
  transform: translateY(5px);
  background-color: rgb(164, 249, 255);
  color: rgb(47, 47, 47);
  border: 4px solid rgba(0, 0, 0, 0.255);
}

.forecast.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecast form {
  display: flex;
  gap: 0.7rem;
}

.forecast .title {
  font-size: 2rem;
  color: rgb(255, 217, 0);
  box-shadow: 4px 8px 10px 5px rgb(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0px 0px 1rem;
}

.forecast.input {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.478);
  height: 2.5rem;
  width: clamp(2rem, 40vw, 50rem);
  border-radius: 2rem;
  padding-left: 1rem;
  color: white;
  font-size: 1rem;
}

.forecast.input:hover {
    background-color: rgba(0, 0, 0, 0.177);
}

.forecast.search-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
}

.magnify-button {
    width: 2rem;
    height: 2rem;
}

.magnify-button:hover {
    color: rgb(255, 217, 0);
}

.temp-buttons {
    display: flex;
    gap: 0.3rem;

}

.far-temp, .cel-temp {
    background-color: rgba(0, 0, 0, 0.478);
    color: rgba(255, 255, 255, 0.314);
    padding: 0.5rem;
    border-radius: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.303);
}

.far-temp:hover, .cel-temp:hover {
    background-color: rgba(0, 0, 0, 0.721);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    transform: translateY(-3px);
}
.far-temp.selected, .cel-temp.selected {
    background-color: rgb(255, 217, 0);
    border: 1px solid rebeccapurple;
    color: rebeccapurple;
    font-weight: 700;
}

.forecast.container {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.forecast.container.overcast {
  background-image: url("./img/overcast-bg.jpg");
  background-size: cover;
}

.forecast.container.partly {
  background-image: url("./img/partly-cloudy-bg.jpg");
  background-size: cover;
}

.forecast.container.clear {
  background-image: url("./img/clear-sky-bg.jpg");
  background-size: cover;
}
.data.block {
  display: grid;
  grid-template: repeat(2, 1fr) 0.7fr / repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  column-gap: 2rem;
  padding: 1rem;
}

.now-block {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  display: grid;
  grid-template: 5fr 2fr 3fr 3fr / repeat(2, 1fr);
  gap: 1rem;
  border: 4px solid rgba(0, 0, 0, 0.692);
  padding: 1rem;
  border-radius: 1rem;
}

.now-temp {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  font-size: 4rem;
  text-align: center;
  align-self: center;
}

.now-clouds {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  font-size: 1.5rem;
  text-align: center;
}

.now-block .box {
  border: 2px solid black;
  padding: 1rem;
  text-align: center;
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0.477);
  color: white;
}

.now-block .box .heading {
  color: rgb(48, 145, 248);
}

.now-block .box .value {
  font-size: 3rem;
}

.feels-like.box {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.precipitation.box {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.humidity.box {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

.uv.box {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.hourly.block {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  display: grid;
  grid-template-rows: 1fr 5fr;
  border: 12px solid rgba(0, 0, 0, 0.477);
  border-radius: 1rem;
  padding: 1rem;
}

.hourly .time {
  color: rgb(0, 255, 110);
}

.hourly .temp {
  font-size: 2rem;
}

.hourly .clouds {
  text-align: center;
}

.content {
  display: flex;
  gap: 20px;
  overflow: scroll;
}

.daily.block {
  grid-row: 2 / 3;
  grid-column: 2 /4;
  display: grid;
  grid-template-rows: 1fr 5fr;
  border: 12px solid rgba(0, 0, 0, 0.477);
  border-radius: 1rem;
  padding: 1rem;
  overflow: scroll;
}

.daily .box,
.hourly .box {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  align-items: center;
  justify-items: center;
  height: 125px;
  width: 70px;
  color: white;
  background-color: rgba(0, 0, 0, 0.556);
}

.today.box {
    background-color:rgb(204, 0, 255);
    color: rgb(255, 255, 255);
    
}

.today .day {
    color: rgb(0, 0, 0);
}

.now.box {
    background-color: rgb(0, 255, 110);
    color: rgb(0, 0, 0);
}
.now .time {
    color: black;
}
.high-low {
  grid-row: 3 / 4;
}

.daily .clouds {
  grid-row: 2 / 3;
  place-content: center;
  text-align: center;
}

.day {
  font-weight: 900;
  color: rgb(204, 0, 255);
}

.hourly .clouds {
  grid-row: 3 / 4;
}

.sun.block {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 1rem;
}

.sun .heading {
  color: orange;
}

.wind.block {
  grid-row: 3 / 4;
  grid-column: 3 /4;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 1rem;
}

.wind .heading {
  color: rgb(251, 255, 0);
}

.wind .direction,
.wind .speed {
  font-size: 2rem;
}

.sun.block,
.wind.block {
  background-color: rgba(0, 0, 0, 0.476);
  color: white;
}

.sun .set,
.sun .rise {
  font-size: 2rem;
}
